@import "@/assets/style//main.scss";

.authors-container div {
	display: inline-block;
	font: map-get($fonts, "regular-md");
}

.author:last-child span {
	display: none;
	background-color: orange;
}

.author a {
	text-decoration: none;
	color: black;

	&:hover {
		text-decoration: underline;
	}
}
