@import "@/assets/style/main.scss";

.reading-item-container {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.image-container {
	width: 100px;
	height: 150px;
	flex-shrink: 0;
}

.reading-item-container img {
	width: 100%;
	height: 100%;
	background-position: center;
	object-fit: cover;
	border-radius: 20px;
}

.details-container {
	display: flex;
	flex-direction: column;
	margin-left: 25px;
	flex-grow: 1;
	justify-content: space-between;
}

.title {
	font: map-get($fonts, "bold-md");

	:hover {
		text-decoration: underline;
	}
}
.title a {
	color: inherit;
	text-decoration: none;
}

.progress {
	font: map-get($fonts, "regular-lg");
}

.button-container {
	align-self: flex-start;
	padding-left: 20px;
	position: relative;
}
