@import "@/assets/style/main.scss";

.progress-bar {
	width: 100%;
	height: 10px;
	border-radius: 5px;
	background-color: map-get($colorVariants, "accent-lighter");
}

.progress-done {
	background-color: map-get($colorVariants, "accent-lighter");
	height: 10px;
	border-radius: 5px;
}
