@import "@/assets/style/main.scss";

.input-container {
	position: relative;
	width: 100%;
}

input[type="text"] {
	border: $borderThin;
	color: map-get($colors, "accent");
	outline: none;
	font-family: $fontMain;
	padding: 3px 5px;
	padding-right: 30px;
	font-weight: 500;
	width: 100%;

	&::placeholder {
		color: map-get($colorVariants, "accent-light");
	}
}

.input-container i {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	padding: 0 7px;
	cursor: pointer;
	color: map-get($colors, "accent");
}
