@import "@/assets/style/main.scss";

.left-container {
	margin-top: 1rem;
}

.avatar-container {
	width: 16rem;
	height: 20rem;
	border-radius: 1rem;
	overflow: hidden;
	margin-bottom: 2rem;
	cursor: pointer;
}

.right-container {
	flex-grow: 1;
	margin-top: 1rem;
	margin-left: 2rem;
}

.name-large {
	font-weight: 500;
	font-size: 2rem;
}

.genres {
	color: map-get($colors, "accent");
	font-size: 1.2rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.biography {
	margin-top: 0.5rem;
}

.popular-books-header {
	font-size: 1.5rem;
	font-weight: 500;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}
