@import "@/assets/style/main.scss";

.menu-container {
	position: absolute;
	top: 2.5rem;
	right: 0;
	width: 300px;
	background-color: map-get($colors, "light-background");
	box-shadow: $boxShadow;
	border-radius: 3px;
}

ul {
	margin: 3px;
}

li {
	list-style-type: none;
	border-bottom: $borderThin;
	color: map-get($colors, "accent");
	padding: 7px 0;

	&:hover {
		background-color: map-get($colors, "accent");
		color: white;
	}

	&:last-child {
		border: none;
	}
}

li i {
	margin-right: 10px;
	margin-left: 5px;
}

li span {
	font-size: 14px;
}
