@import "@/assets/style/main.scss";

.menu-backdrop {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.25);
}

.menu-container {
	position: absolute;
	top: 3.2rem;
	right: 2rem;
	width: 300px;
	background-color: map-get($colors, "light-background");
	box-shadow: $boxShadow;
	border-radius: 3px;
}

ul {
	margin: 3px;
}

li {
	list-style-type: none;
	border-bottom: $borderThin;
	color: map-get($colors, "accent");
	padding: 7px 0;
	cursor: pointer;

	&:hover {
		background-color: map-get($colors, "accent");
		color: white;
	}

	&:last-child {
		border: none;
	}
}

li i {
	margin-right: 10px;
	margin-left: 5px;
}

li span {
	font-size: 14px;
}
