@import "../../../assets/style/main.scss";

.navbar-item-wrapper {
	display: inline-flex;
	padding-right: 48px;
	align-self: stretch;
}

a {
	color: map-get($colors, "accent");
	text-decoration: none;
	display: flex;
	align-items: center;
}

.active-link {
	color: map-get($colors, "accent");
	font-weight: bold;
	border-bottom: 3px map-get($colors, "accent") solid;
}
