@import "@/assets/style/main";

.text-area__element {
	resize: none;
	flex-grow: 1;
	border: $borderThin;
}

.error-container {
	font-size: 12px;
	height: 1rem;
}

.error-message {
	color: red;
	font-size: 12px;
}

.text-area__main-form {
	flex-grow: 1;
	resize: none;
	border: 2px solid gray;
}
