@import "@/assets/style/main.scss";

.side-container {
	margin-top: 1rem;
}

.book-cover-container {
	width: 16rem;
	height: 24rem;
	border-radius: 1rem;
	overflow: hidden;
	margin-bottom: 1rem;
	cursor: pointer;
}

.book-details__button-group {
	font: map-get($fonts, "regular-md");
	margin-bottom: 1rem;
}

.main-container {
	flex-grow: 1;
	margin-top: 1rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.title-large {
	font-weight: 500;
	font-size: 2rem;
}

.author-links {
	color: map-get($colors, "accent");
	font-size: 1.2rem;

	& a {
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.summary {
	white-space: pre-line;
	margin-top: 2rem;
}

.details-container {
	margin-top: 1rem;
	min-width: 15rem;
}

.details-item {
	border-bottom: 1px gray solid;
	margin-bottom: 0.5rem;
}

.details-item__label {
	color: #333;
}

.details-item__content {
	color: map-get($colors, "accent");
}
