$colors: (
	accent: #3b94c6,
	light-background: white,
	dark-text: black,
	subtle-text: rgb(128, 128, 128),
);

$colorVariants: (
	accent-light: rgba(map-get($colors, "accent"), 0.75),
	accent-lighter: rgba(map-get($colors, "accent"), 0.4),
	dark-text-light: rgba(map-get($colors, "dark-text"), 0.75),
	dark-text-lighter: rgba(map-get($colors, "dark-text"), 0.4),
);

$fontMain: "Playfair Display", serif;

$fonts: (
	heading-l: 21px $fontMain,
	bold-lg: bold 18px $fontMain,
	bold-md: bold 16px $fontMain,
	regular-lg: 500 18px $fontMain,
	regular-md: 14px $fontMain,
	regular-sm: 12px $fontMain,
);

$boxShadow: 0 0 10px 1px map-get($colorVariants, "accent-lighter");
$shadowDark: 0 0 10px map-get($colorVariants, "dark-text-lighter");
$borderThin: 1px map-get($colors, "accent") solid;
