@import "@/assets/style/main.scss";

.not-found-component {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Open Sans", sans-serif;
}

.top-container {
	display: flex;
}

.top-container img {
	max-height: 10rem;
	object-fit: cover;
	filter: contrast(100%);
}

.text-large {
	font-size: 4rem;
	font-weight: 100;
}

.bottom-container {
	font-size: 2rem;
	font-weight: 100;
}
