@import "@/assets/style/main";

.card-container {
	background-color: map-get($colors, "light-background");
	box-shadow: $shadowDark;
	border-radius: 5px;
	padding: 20px 30px;
	display: flex;
	flex-direction: column;
}

.action-label {
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

.subtle-label {
	color: map-get($colors, "subtle-text");
	font: map-get($fonts, "regular-md");
}

.form-control {
	display: flex;
	flex-direction: column;
	width: 20rem;
	color: map-get($colors, "subtle-text");
	font-family: "Open Sans";
	padding-top: 2rem;
}

.button-container {
	text-align: center;
	margin-top: 1.5rem;
}

.additional-controls {
	position: absolute;
	bottom: 5px;
	left: 10px;
}
.additional-controls span {
	cursor: pointer;
	font-weight: bold;

	&:hover {
		text-decoration: underline;
	}
}
