@import "@/assets/style/main.scss";

.button-element {
	border: $borderThin;
	background-color: map-get($colors, "light-background");
	color: map-get($colors, "accent");
	cursor: pointer;
	border-radius: 2rem;

	&:hover {
		background-color: map-get($colors, "accent");
		color: map-get($colors, "light-background");
	}

	&:active {
		background-color: map-get($colors, "light-background");
		color: map-get($colors, "accent");
	}
}

.small {
	font: map-get($fonts, "regular-sm");
	padding: 0.3rem 1.5rem;
}

.normal {
	font: map-get($fonts, "regular-md");
	padding: 0.3rem 1.5rem;
}

.large {
	font: map-get($fonts, "regular-lg");
	padding: 0.3rem 3rem;
}
